@use '../../styles/mixins/flexbox' as fb;
@use '../../styles/abstract/colors' as color;
@use '../../styles//mixins/breakpoints' as br;

.container {
    @include fb.flexbox(column, flex-start, center);
    background: color.$bg;
    padding: 64px 80px 80px 80px;
    min-height: calc(100vh - 80px);
    width: 100%;

    @include br.breakpoint(tablet) {
        padding: 32px 20px 40px 20px;
    }
}

.cartContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
}

.title {
    margin-bottom: 40px;
}

.content {

    table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;

        tbody {

            .header {
                td {
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 700;
                    padding-bottom: 10px;
                    color: rgba(41, 40, 56, 0.6);
                    border-bottom: 1px solid color.$grey;
                }
            }
        }
    }
}

.totalContainer {
    width: 100%;
    max-width: 302px;
    align-self: flex-end;
    justify-self: flex-end;
    margin-top: 32px;

    p {
        width: 100%;
        margin-bottom: 12px;
        @include fb.flexbox(row, space-between, center);

        span {
            font-weight: 700;
            letter-spacing: 0;
        }
    }

    h3 {
        margin: 24px 0 48px 0;
        width: 100%;
        @include fb.flexbox(row, space-between, center);

        span {
            color: color.$red;
        }
    }
}

.btnContainer {
    @include fb.flexbox(row, space-between, center)
}

.btn {
    @include fb.flexbox(row, space-between, center);
    color: color.$white;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.4px;
    background: color.$red;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.orderMoreBtn {
    @extend .btn;
    border: unset;
    color: color.$black;
    background: transparent;
}

.proceedBtn {
    @extend .btn;
    font-weight: 700;
}