@use '../../styles/mixins/flexbox' as fb;
@use '../../styles/abstract/colors' as colors;

.cardContainer {
    position: relative;
    width: 47%;
    // max-width: 628px;
    min-height: 98px;
    border: 1px solid colors.$grey;
    border-radius: 4px;
    padding: 12px 16px;
    margin: 20px 10px 0 10px;
    @include fb.flexbox(column, flex-start, flex-start);
    cursor:pointer;

    h2 {
        font-size: 16px;
        margin-top: 2px;
    }

    p {
        font-size: 14px;
        letter-spacing: -0.4px;
    }
    
    .img {
        align-self: center;
    }
 
}

.active {
    background: colors.$activeBg;
    border: 1px solid colors.$red;
}

.activeImg {
    position: absolute;
    top: 16px;
    right: 16px;
}

.noImg {
    display: none;
}
