@use '../../styles/abstract/colors' as colors;
@use '../../styles/mixins/breakpoints'as br;
@use '../../styles/mixins/flexbox' as fb;

.container {
    @include fb.flexbox(row, space-between, center); 
    height: 107px;
    padding: 20px 80px;
}

.btnsContainer {
    @include fb.flexbox(row, center, center); 
}

.nextBtn {
    @include fb.flexbox(row, space-between, center); 
    color: colors.$white;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.4px;
    background: colors.$black;
    padding: 8px 12px 8px 20px;
    border-radius: 4px;
    cursor: pointer;

    img {
        margin-left: 20px;
    }
}

.backBtn {
    // @include fb.flexbox(row, center, center); 
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.4px;
    border: 1px solid colors.$black;
    background: colors.$white;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 20px;
}

.addToCartBtn {
    @extend .nextBtn;
    width: 106px;
}

.steper {
    width: 100%;
    margin-right: 120px;
    // background: red;
}

.progresContainer {
    position: relative;
    background: hsla(0, 92%, 67%, 0.2);
    margin-top: 12px;
    height: 1px;
    width: 100%;
}

.progres {
    position: absolute;
    top: 0;
    left: 0;
    background: colors.$red;
    height: 2px;
}